Source: taptempo
Maintainer: Francois Mazen <francois@mzf.fr>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: cmake, debhelper (>= 10), gettext

Package: taptempo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: command line tap tempo
 hit enter key with style an you'll get the corresponding number of beats per
 minute (bpm).
